<div class="modal-header">
	<h3 class="modal-title">Add Question</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form" name="vm.addQaForm" novalidate>
		<div class="form-group">
			<label for="question" class="col-sm-3 control-label">Question</label>
			<div class="col-sm-6">
				<input type="text" value="" name="question" class="form-control"
					ng-model="vm.addForm.question" required />
			</div>
		</div>
		<div class="form-group"
			ng-show="vm.addForm.showMessage && vm.addQaForm.question.$invalid">
			<div class="col-sm-3"></div>
			<div class="alert alert-danger col-sm-6">Question field cannot
				left empty!</div>
		</div>
		
		<div class="form-group">
			<label for="type" class="col-sm-3 control-label">Type</label>
			<div class="col-sm-6">
				<input type="text" value="" name="type" class="form-control"
					ng-model="vm.addForm.type" required />
			</div>
		</div>
		<div class="form-group"
			ng-show="vm.addForm.showMessage && vm.addQaForm.type.$invalid">
			<div class="col-sm-3"></div>
			<div class="alert alert-danger col-sm-6">Type field cannot
				left empty!</div>
		</div>
		
		<div class="form-group">
			<label for="answer" class="col-sm-3 control-label">Answer</label>
			<div class="col-sm-6">
				<textarea class="form-control" name="answer"
					ng-model="vm.addForm.answer" rows="6" required></textarea>
			</div>
		</div>
		<div class="form-group"
			ng-show="vm.addForm.showMessage && vm.addQaForm.answer.$invalid">
			<div class="col-sm-3"></div>
			<div class="alert alert-danger col-sm-6">Answer field cannot
				left empty!</div>
		</div>
		<div class="alert alert-success" role="alert"
			ng-show="vm.addForm.resultFlag">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			{{vm.addForm.message}}
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="vm.add()">Add</button>
	<button class="btn btn-warning" type="button" ng-click="vm.closeWindow()">Close</button>
</div>