<nav class="navbar navbar-qa navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<h4>
				Welcome to QA Forum <span><i class="fa fa-bars menu-link"
					data-ng-click="vm.showLeftMenuFlag = !vm.showLeftMenuFlag"></i></span>
			</h4>
		</div>
		<div class="navbar-header navbar-right">
			<div class="top-menu">
				<ul class="nav navbar-nav">
					<li>
						<div class="no-select">
							<i class="fa fa-user"></i>{{vm.loginId}}
						</div>
					</li>

					<li>
						<div class="no-select" data-ng-click="vm.logout()">
							<i class="fa fa-sign-out"></i> Sign Out
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>