<br />
<form class="form-horizontal" role="form" name="vm.searchFm" ng-submit="vm.submit()">
	<div class="form-group cust-bg-info text-center">
		<h4>Search Form</h4>
	</div>
	<div class="form-group">
		<div class="col-sm-3">
			<select ng-model="vm.searchForm.searchOption" class="form-control"
				ng-options="searchO.value for searchO in vm.searchOptionA track by searchO.key"
				name="searchOpt" required>
				<option value="">Select Column Name</option>
				</select>
		</div>
		<div class="col-sm-3">
			<select ng-model="vm.searchForm.searchOperator" class="form-control"
				ng-options="operator.value for operator in vm.operatorA track by operator.key"
				name="searchOpr" required>
				<option value="">Select Operator</option>
				</select>
		</div>
		<div class="col-sm-3">
			<input type="text" name="searchVal" value="" class="form-control"
				ng-model="vm.searchForm.searchValue" placeholder="Enter search value" required/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-4"></div>
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary" ng-click="vm.submit()">Search</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary"
					ng-click="vm.showAddWindow()">Add Question</button>
			</div>
		</div>
	</div>
	<div class="form-group" ng-show="vm.searchShowMessage && vm.searchFm.searchOpt.$invalid">
		<div class="col-sm-9">
			<div class="alert alert-danger col-sm-6">Search option cannot left empty!</div>
		</div>
	</div>
	<div class="form-group" ng-show="vm.searchShowMessage && vm.searchFm.searchOpr.$invalid">
		<div class="col-sm-9">
			<div class="alert alert-danger col-sm-6">Search operator cannot left empty!</div>
		</div>
	</div>
	<div class="form-group" ng-show="vm.searchShowMessage && vm.searchFm.searchVal.$invalid">
		<div class="col-sm-9">
			<div class="alert alert-danger col-sm-6">Search value cannot left empty!</div>
		</div>
	</div>
</form>