<form class="form-horizontal">
	<div class="form-group cust-bg-info text-center">
		<h4>Search Result</h4>
	</div>
</form>
<div class="btn-toolbar pull-right" role="toolbar"
	ng-show="vm.qaInfos.length > 0">
	<paging></paging>
</div>
<br />
<table class="table table-bordered searchResult">
	<thead>
		<tr>
			<th>Question #</th>
			<th>Question</th>
			<th>Answer</th>
			<th>Type</th>
			<th>Images</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-show="vm.qaInfos.length == 0">
			<td colspan="7">No record found!</td>
		</tr>
		<tr
			ng-repeat="qaInfo in vm.qaInfos | startFrom:(vm.currentPage-1)*vm.pageSize | limitTo:vm.pageSize">
			<td>{{ qaInfo.qaId }}</td>
			<td>{{ qaInfo.question }}</td>
			<td><pagedown-viewer
					content="qaInfo.answer | limitTo:vm.numLimit"></pagedown-viewer> <!-- <pre class="answerCls">{{ qaInfo.answer | limitTo:vm.numLimit}}</pre> -->
				<button type='button' ng-click="vm.readMore()" class="btn btn-link">{{vm.readTitle}}</button>
			</td>
			<td>{{qaInfo.type}}</td>
			<td><span class="glyphicon glyphicon-picture imageLink"
				aria-hidden="true" ng-click="vm.showImagesWindow(qaInfo.qaId)"></span>
			</td>
			<td><span class="glyphicon glyphicon-edit updateLink"
				aria-hidden="true" ng-click="vm.showUpdateWindow($index)"></span></td>
			<td><span class="glyphicon glyphicon-trash deleteLink"
				aria-hidden="true" ng-click="vm.showDeleteWindow(qaInfo.qaId)"></span></td>
		</tr>
	</tbody>
</table>
<div class="btn-toolbar pull-right" role="toolbar"
	ng-show="vm.qaInfos.length > 0">
	<paging></paging>
</div>


<div class="btn-toolbar" role="toolbar">
	<div class="btn-group" role="group">
		<span class="fa fa-file-excel-o excelLink" aria-hidden="true"
			ng-click="vm.exportQaInfo('excel')"></span> &nbsp; <span
			class="fa fa-file-pdf-o pdfLink" aria-hidden="true"
			ng-click="vm.exportQaInfo('pdf')"></span> &nbsp; <span
			class="fa fa-file-word-o wordLink" aria-hidden="true"
			ng-click="vm.exportQaInfo('word')"></span> &nbsp; <span
			class="fa fa-upload excelLink" aria-hidden="true"
			ng-click="vm.showImportWindow()"></span>
	</div>
</div>
<br />
<br />
<br />