/* Styles go here */
.theme1 {
	background-color:rgba(181, 216, 143, 1);
}

.navbar-qa {
	background-color: rgb(43,123,70);
	border-color: rgba(231,231,231,1);
	height: 40px;
}

.qa-header {
	display: inline-block;
}

.cust-bg-info {
	background-color: rgb(140, 216, 152);
	color: rgb(255,255,255);
}

.navbar-qa .container-fluid {
	margin-top: 8px;
	color: rgb(255,255,255);
}

.theme1 .searchResult thead, .theme1 .searchResult thead tr, .theme1 .searchResult thead tr th{
	background-color:rgb(0,0,0);
	color:rgb(255,255,255);
}

.theme1 .updateLink {
	cursor:pointer;
	color:rgb(0,0,255);
}

.theme1 .deleteLink {
	cursor:pointer;
	color:rgb(255,0,0);
}

.theme1 .excelLink {
	cursor: pointer;
	color:rgb(0,210,0);
	font-size:20px;
}

.theme1 .pdfLink {
	cursor: pointer;
	color:rgb(210,0,0);
	font-size:20px;
}

.theme1 .wordLink {
	cursor: pointer;
	color:rgb(0,0,210);
	font-size:20px;
}

.theme1 .imageLink {
	cursor:pointer;
	color:rgb(226, 45, 144);
}

.theme1 .answerCls {
	width:500px;
	white-space: pre-wrap;
  	word-break: normal;
}

#slides_control > div{
  height: 200px;
}
.slide img{
  margin:auto;
  width: auto;
}
#slides_control {
  position:absolute;
  width: 200px;
  left:50%;
  top:20px;
  margin-left:-200px;
}

.custom-carousel {
	bottom: 0px;
	padding-bottom:0px;
}

.header-text {
	padding-top: 5px;
}

.sm-txt {
	width: 50px !important;
}

.menu-bar {
	padding-top:7px;
}

.error-txt {
	background-color: rgb(230, 20, 20);
	color: rgb(255,255,255);
}

div.ng-isolate-scope {
	width: 300px;
	background-color: rgb(230, 20, 20);
	color: rgb(255, 255, 255);
}

div.ng-isolate-scope .arrow:after {
	border-top-color: rgb(230, 20, 20) !important;
}

.left-menu {
	margin-top: 30px;
	padding-top: 30px;
	display: none !important;
	position: relative;
	background-color: #333;
	color: #ccc;
	padding-left: 0px;
	width: 200px;
	min-height: 100vh;
}

.left-menu ul li:hover {
	color: #ccc;
	background-color: #555;
}

.left-menu ul {
	list-style-type: none;
	vertical-align: top;
	padding-left: 0px;
}

.left-menu ul li {
	line-height: 3em;
	cursor: pointer;
}

.left-menu ul li div {
	display: inline-block;
	width: 90%;
	padding-left: 16px;
	
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.top-menu {
	background-color: #333;
	color: #ccc;
}

.top-menu ul li:hover {
	color: #ccc;
	background-color: #555;
}

.top-menu ul {
	list-style-type: none;
	vertical-align: top;
	padding-left: 0px;
}

.top-menu ul li {
	line-height: 3em;
	cursor: pointer;
	padding-right: 15px;
}

.top-menu ul li div {
	display: inline-block;
	width: 100%;
	padding-left: 16px;
	
}

.top-menu ul li div i {
	padding-right: 10px;
}

.menu-row {
	padding:0px;
	margin:0px;
	background-color: rgb(43,123,70);
}

.menu-link {
	display: none !important;
	cursor: pointer;
}

@media screen and (max-width: 770px) {
	.left-menu, .menu-link {
		display: inline !important;
	}
	
	.top-menu {
		display: none !important;
	}
}

@keyframes myChange {
  from {
      width: 200px;
  } to {
      width: 0;
  }
}

div.left-menu {
  width: 200px;
}

div.left-menu div.ng-hide {
  animation: 0.7s myChange;
}
